name: Code Quality Checks

on:
  push:
    branches: ["main"]
  pull_request:

env:
  flutter_version: ${{ vars.FLUTTER_VERSION }}

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/workflows/setup/
        with:
          flutter_version: ${{ env.flutter_version }}

      - name: Verify formatting
        run: |
          dart format . --follow-links
          # Check with git whether files changed because formatter can't ignore generated files
          git diff --exit-code

  analyze:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/workflows/setup/
        with:
          flutter_version: ${{ env.flutter_version }}

      - name: Analyze project source
        run: |
          flutter analyze --suggestions
          # dart run dart_code_metrics:metrics analyze lib test --reporter=github
          # dart run dart_code_metrics:metrics check-unused-files lib
          # dart run dart_code_metrics:metrics check-unused-code lib

  spell-checking:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/workflows/setup/
        with:
          flutter_version: ${{ env.flutter_version }}

      - name: Check spelling
        uses: crate-ci/typos@v1.42.2
        with:
          config: .github/typos.toml

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup
        uses: ./.github/workflows/setup/
        with:
          flutter_version: ${{ env.flutter_version }}

      - name: Run tests
        run: |
          flutter test --coverage --branch-coverage --reporter=github --test-randomize-ordering-seed random
          dart run test_cov_console -e lib/l10n/locale_keys.g.dart

      - name: Upload code coverage
        uses: codecov/codecov-action@v5
        with:
          directory: coverage
          fail_ci_if_error: true
          flags: unittests
          token: ${{ secrets.CODECOV_TOKEN }}
